header.navbar
    |
    .container
        |
        .navbar-top
            | 
            a.logo(href="#"): img.logo-image(src="img/horizontal-logo.svg" alt="logo: Best Tour Plan")
            |
            form.search.navbar__search(action="#")
                |
                input.search__input(type="text" placeholder="Search Location")
                |
                button.search__button: img(src="img/search.svg" alt="icon:search")
            |
            |
            a.user.navbar__user(href="#")
                | 
                img.user__avatar(src="img/user-avatar.jpeg" alt="avatar: Nathan")
                |
                span.user__name Nathan
            |
            button.menu-button.navbar-top__menu-button
                |
                |
                span.menu-button__line 
                |
                |
                span.menu-button__line
                |
                |
                span.menu-button__line
    |
    .navbar-bottom  
        
        .container 

            ul.navbar-menu 
            
                li.navbar-menu__item: a.navbar-menu__link(href="#") All Deals
                |
                li.navbar-menu__item: a.navbar-menu__link(href="#") Hotels            
                |
                li.navbar-menu__item: a.navbar-menu__link(href="#") Activities           
                |
                li.navbar-menu__item: a.navbar-menu__link(href="#") Hotel Day Package            
                |
                li.navbar-menu__item: a.navbar-menu__link(href="#") Restaurant
                |            
                li.navbar-menu__item: a.navbar-menu__link(href="#") Events
                |           
                li.navbar-menu__item: a.navbar-menu__link(href="#") Rodrigues

