header.header
    |
    .container
        | 
        .header-top
            |
            | 
            a.logo(href="#"): img.logo-image(src="img/horizontal-logo.svg" alt="logo: Best Tour Plan")
            |
            form.search(action="#")
                |
                input.search__input(type="text")
                |
                button.search__button: img(src="img/search.svg" alt="icon:search")
            |
            |
            a.user(href="#")
                
                | 
                img.user__avatar(src="img/user-avatar.jpeg" alt="avatar: Nathan")

                |
                span.user__name Nathan