section.hotel

    .container

        .hotel-info

            .hotel-info__text 

                .hotel-wrapper 

                    .stars

                        img(src="img/star.svg" alt="star")

                        img(src="img/star.svg" alt="star")

                        img(src="img/star.svg" alt="star")

                        img(src="img/star.svg" alt="star")

                        img(src="img/star.svg" alt="star") 

                    h1.hotel-name.hotel-info__name GRAND HILTON HOTEL

                    span.offer.hotel-info__offer Flash Offer 

                p.hotel-description.hotel-info__description Half-Board/ All Inclusive + Complimentary Activities + Child Stays Free

            .rating.hotel-info__rating

                span.rating__text User Rating 

                span.rating__counter 4.5/5